# walkerator .gitignore

# Blacklist
*.orig
*.log
*_build
*htmlcov
*.egg-info
*__pycache__
*~
*.pyc
*.pdf
*.hdf5
*.h5
*.csv
.coverage
.tox/
sonic.log
*.aux
*.nav
*.out
*.snm
*.gz
*.toc
*.jpg
*.mat
*.txt
DSC204_F1_Phoenix_Messungen/
code/tools/
SOLVIND_SUITE/
simulationen-data/
fits_data/
.ipynb_checkpoints/



# Whitelist
tox.ini
code/tools/nurbs_c++/nurbs.cpp
