# walkerator .gitignore

###### With the following 3 commands files without extension will be ignored ###### 
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
####################################################################################


##### Blacklist
*.orig
*.log
*_build
*htmlcov
*.egg-info
*__pycache__
*~
*.pyc
*.pdf
*.hdf5
*.h5
*.csv
.coverage
.tox/
sonic.log
*.aux
*.nav
*.out
*.snm
*.gz
*.toc
*.jpg
*.mat
*.txt
DSC204_F1_Phoenix_Messungen/
code/tools/*
!/code/tools/nurbs_c++/
!/code/tools/interp1d_linear_c++/
!/code/tools/nurbs_interpolation_c++/


SOLVIND_SUITE/
simulationen-data/
fits_data/
.ipynb_checkpoints/



##### Whitelist
tox.ini
